@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: 	#E9EBEE;
  font-family: 'work sans';
  user-select: none;
  overflow: auto;
}
*{
  -webkit-user-drag: none;
}
#ping-pong {
  border: 3px solid white;
  background-color: black;
  border-radius: 5px;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.debug{
  border: 1px solid red;
}
.debug > *{
  border: 1px solid green;
}

.debug > * > *{
  border: 1px solid blue;
}


.scale-up
{
  animation: scaleup 400ms ease-in-out;
}

@keyframes scaleup {
  0% {
    max-width: 0px;
  }
  100% {
    max-width: 20rem;
  }
}


@media screen and (max-width: 1200px) {
  .md-none {
    display: none;
  }
  .md-disabled{
    pointer-events: none;
  }
  .md-disabled *{
    filter: grayscale(100%);
    fill: #9c9c9c;
  }
}